<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Best place to find honeymoon packages at Best prices. We have Domestic &amp; International honeymoon packages for you.">

    <meta name="author" content="">

    <title> Discover, Plan &amp; Book Your Honeymoon Now! – | xplorhoneymoon.co.in </title>


    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href="bower_components/Merriweather-Fontface/merriweather.css" rel="stylesheet" type="text/css">
    <link href="bower_components/open-sans-fontface/open-sans.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="bower_components/animate.css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="bower_components/angular-toastr/dist/angular-toastr.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/owl-carousel/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/owl-carousel/owl-carousel/owl.theme.css" />

    <!-- All JS Includes -->
    <script src="bower_components/jquery/dist/jquery.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <script src="bower_components/jquery.easing/js/jquery.easing.min.js"></script>
    <script src="bower_components/wow/dist/wow.js"></script>

    <script src="js/jquery.fittext.js"></script>
    <script src="js/creative.js"></script>

    <script src="bower_components/jquery/dist/jquery.js"></script>

    <script src="bower_components/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script src="js/owl-integration.js"></script>

    <script src="app.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" ng-app="xplorHome" class="ng-scope" ng-controller="MainCtrl">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <img src="./xplorimages/logo.png" alt="" class="logo" style="max-height: 60px;width: auto;">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="tel:+918041152358" target="_blank">
                            <i class="fa fa-phone-square fa-lg"> <b>91 – 8880380383</b> </i>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="mailto:info@xplor.co.in" target="_blank">
                            <i class="fa fa-envelope fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://www.facebook.com/XplorWorldwide" target="_blank">
                            <i class="fa fa-facebook fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://twitter.com/xplorblr" target="_blank">
                            <i class="fa fa-twitter fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://in.linkedin.com/pub/xplor-worldwide/ab/773/7b2" target="_blank">
                            <i class="fa fa-linkedin fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h2>EXPLORE &amp; BOOK THE BEST HONEYMOON PACKAGES NOW!</h2>
                <hr>
                <p>Finding the perfect honeymoon for you has never been this easy.<br/>Book your domestic or international honeymoon with xplorhoneymoon.co.in and save !</p>

            </div>
        </div>

    </header>

    <section class="bg-primary" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-8 text-center">
                    <h4 class="text-left text-heading">International Honeymoon Packages </h4>
                    <p class="text-justify">
                        Do you think that the beautiful journey of your marriage should begin from a beautiful destination? Planning a surprise honeymoon is an ultimate romantic gesture, and the greatest gift you could ever give her. Thomas Cook introduces great honeymoon packages for couples who wish to make their honeymoon the most beautiful and memorable event of their life. From pristine azure beaches and luxury resorts of Maldives and Mauritius to the beautiful landscapes of Switzerland and Thailand, honeymoon packages are abound. Your hunt for the honeymoon destinations is over, as Thomas Cook’s honeymoon packages include the most exotic international honeymoon destinations where you can cherish romantic moments, and bring some unforgettable memories back home.
                    </p>

                    <h4 class="text-left text-heading">India Honeymoon Packages </h4>
                    <p class="text-justify">
                        If you haven’t seen your dream destinations in India yet, why not take a trip to those special places with the love of your life. Thomas Cook’s honeymoon packages give you a chance to revel in the raw beauty and untrodden pathways of India. Whether you want to bask in the peaceful and serene backwaters of Kerala, unwind in the untouched hill stations of North East, or you want to romance under the starlit sky in Ladakh, Thomas Cook’s honeymoon packages include the best honeymoon destinations in India that will leave you love-struck. If you want to make your honeymoon the most special and pleasant memory of your life, honeymoon packages in India are awaiting you.
                    </p>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Choose Your Honeymoon Package</h3>
                        </div>

                        <div class="panel-body panel-body-custom">
                            <form name="packageOption" ng-controller="ChooseHoneymoonCtrl" class="ng-pristine ng-valid" ng-submit="chooseHPackages()" novalidate>
                                <fieldset>

                                <div class="form-group">
                                    <label class="radio-inline">
                                        <input id="radio_india" type="radio" ng-model="isInternational" ng-value="false" checked="checked">
                                        India
                                    </label>
                                    <label class="radio-inline">
                                        <input id="radio_international" type="radio" ng-model="isInternational" ng-value="true">
                                        International
                                    </label>
                                </div>
						        <div class="form-group">
                                    <select id="budget" class='form-control'
                                    tabindex="-1" ng-model="budget" ng-options="budget.item for budget in budgets">
                                        <option value="">Budget per Person</option>
                                    </select>
                                </div>
						        <div class="form-group">
                                    <select id="duration" class='form-control'
                                    tabindex="-1" ng-model="duration" ng-options="duration.item for duration in durations">
                                        <option value="">No. of Nights</option>
                                    </select>
                                </div>
						        <div class="form-group">
                                    <select id="monthofTravel" class='form-control'
                                    tabindex="-1" ng-model="month" ng-options="month.item for month in months">
                                        <option value="">Month of Travel</option>
                                    </select>
                                </div>
                                <label class="form-group">Which describes you the best:</label>
						        <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option1" id="inlineCheckbox1"> Adventure
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option1" id="inlineCheckbox1"> Nature
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option1" id="inlineCheckbox1"> Foodie
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option1" id="inlineCheckbox1"> Peace
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="option1" id="inlineCheckbox1"> Beach
                                    </label>
                                </div>

        						<button type="submit" class="btn btn-primary center-block">Find Holidays</button>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 text-center">
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
                <div class="col-xs-12 col-sm-4">
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <h2 class="section-heading">Testimonials</h2>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark" id="clientsandpartners">
        <h3 class="col-xs-12 col-md-12">Our Clients <span class="special_amp">&amp;</span> Our Trade Partners</h3>
        <div class="container text-center" id="owl-demo">
          <div class="item"><img src="./xplorimages/client_01.jpg" alt="Puravankara"></div>
          <div class="item"><img src="./xplorimages/client_02.jpg" alt="Delivery"></div>
          <div class="item"><img src="./xplorimages/client_03.jpg" alt="Nikitha"></div>
          <div class="item"><img src="./xplorimages/client_04.png" alt="Apranje"></div>
          <div class="item"><img src="./xplorimages/client_05.jpg" alt="Asset India"></div>
          <div class="item"><img src="./xplorimages/client_06.jpg" alt="Valmont"></div>
          <div class="item"><img src="./xplorimages/client_07.jpg" alt="KannadigaruUK"></div>
          <div class="item"><img src="./xplorimages/client_08.jpg" alt="Rail Europe"></div>
          <div class="item"><img src="./xplorimages/client_09.jpg" alt="Greenpath"></div>
          <div class="item"><img src="./xplorimages/client_10.jpg" alt="Ryan"></div>
          <div class="item"><img src="./xplorimages/client_11.jpg" alt="Epitome"></div>
          <div class="item"><img src="./xplorimages/client_12.jpg" alt="E-Act"></div>
          <div class="item"><img src="./xplorimages/client_13.jpg" alt="Hexagon"></div>
          <div class="item"><img src="./xplorimages/client_14.gif" alt="Samskruthi"></div>
          <div class="item"><img src="./xplorimages/client_15.png" alt="Taj Tours"></div>
          <div class="item"><img src="./xplorimages/client_16.jpg" alt="eMudhra"></div>
          <div class="item"><img src="./xplorimages/client_17.png" alt="Vcc"></div>
          <div class="item"><img src="./xplorimages/client_18.jpg" alt="R.K.Cottons"></div>
          <div class="item"><img src="./xplorimages/client_19.jpg" alt="Provident"></div>
          <div class="item"><img src="./xplorimages/client_20.jpg" alt="SeatonIndia"></div>
          <div class="item"><img src="./xplorimages/client_21.gif" alt="Star Tours"></div>
          <div class="item"><img src="./xplorimages/client_22.jpg" alt="North Guru"></div>
          <div class="item"><img src="./xplorimages/client_23.jpg" alt="TASC"></div>
        </div>
    </aside>

    <footer class="footer">
      <div class="container-fluid">
        <div style="margin-bottom:50px" class="row">
          <div class="col-xs-12 col-md-4">
            <h3 class="text-left">About</h3>
            <p class="text-justify">Xplor Honeymoon is part of the Xplor Group of Companies. The Company was established in October, 2010 as a 360° travel management company to provide its clients with end-to-end travel services for India and across the world.</p>
          </div>
          <div class="col-xs-12 col-md-4 text-left">
            <h3>Follow</h3>
            <div class="social">
                <a href="https://twitter.com/xplorblr" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
                <a href="https://www.facebook.com/XplorWorldwide" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></div>
          </div>
          <div class="col-xs-12 col-md-4 text-left">
            <h3 class="text-left">Contact US</h3>
            <div class="clearfix">&nbsp;</div>
            <p>
                XPLOR WORLDWIDE [P] LTD <br/>
                No 211/1, 2nd floor,Next to Canara Bank <br/>
                New BEL Road Bangalore – 560094 <br/>
                Phone : 080-41152358 <br/>
                Toll Free No : 91 – 8880380383
            </p>

            <h3 class="text-left">Connect</h3>
            <button class="btn btn-lg btn-danger" ng-click="contactUs()">Get in Touch</button><span>&nbsp;&nbsp;&nbsp;</span>

          </div>
        </div>
        <div style="margin-top:60px" class="row">
          <div class="col-xs-12 col-md-4">
              <a href="http://xplorhoneymoon.co.in/#" class="sp-effect3">
                <img src="./xplorimages/logo.png" alt="" class="logo" style="max-height:60px;width: auto;">
              </a>
              <div class="rights">
                <p>Copyright © 2015 XPLOR Travels Pvt. Ltd.</p>
              </div>
          </div>

          <div class="col-xs-12 col-md-2" style="margin-top:60px">
          </div>
          <div class="col-xs-12 col-md-2" style="margin-top:60px">
          </div>

        </div>
      </div>

    </footer>

    <script type="text/ng-template" id="contact_form.html">
        <div class='container-fluid'>
            <div class='well well-lg'>
                <form class='form-horizontal' ng-submit='submitComments()'>
                    <fieldset>
                        <legend>Contact Us</legend>
                        <div class='form-group' ng-if='errorMessage'>
                            <div class='col-sm-offset-1 col-sm-8 alert alert-danger text-center'>{{errorMessage}}</div>
                        </div>
                        <div class='form-group'>
                            <label class='col-sm-3 control-label'>Name</label>
                            <div class='col-sm-9 col-md-6'>
                                <input class='form-control' type='text' ng-model='contact.name'>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-sm-3 control-label'>Email</label>
                            <div class='col-sm-9 col-md-6'>
                                <input class='form-control' type='email' ng-model='contact.email'>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-sm-3 control-label'>Mobile</label>
                            <div class='col-sm-9 col-md-6'>
                                <input class='form-control' type='mobile' ng-model='contact.mobile'>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label class='col-sm-3 control-label'>Comments</label>
                            <div class='col-sm-9 col-md-6'>
                                <textarea class='form-control' ng-model='contact.comments' rows='5' style='overflow:auto;resize:none'></textarea>
                            </div>
                        </div>
                        <div class='form-group'>
                            <div class='col-sm-offset-3 col-sm-6 col-md-4'>
                                <button type='submit' class='btn btn-block btn-primary'>Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </script>

</body>

</html>
