.grid-section {
  padding:20px;
  background: #f05f40;
}
.grid-section .row .grid {
  margin:10px 0;
}
.grid {
  border: 1px solid black;
  background: #fff;
  overflow: visible;
  //box-shadow: 5px 5px 3px gray;
  height: auto;
  min-height: 210px;
}

.destinationDetails{
  min-height: 135px;
}

.destination h3 {
  background: #337ab7;
  color: #fff;
  margin: 0 !important;
  padding: 4px 4px;
}
.destinationImage img {
  height:100px;
  width:200px;
  //padding: 10px;
}

.description {
  background: #FAFAFA;
}

.knowMore {
  width: 120px;
  margin: auto;
}

.close {
  color: #fff !important;
  opacity: 1.0 !important;
}

.modalHeader {
  background: #337ab7;
  color: #fff;
  margin-bottom: 10px;
}

.destinationBody {
  padding: 0 15px !important;
  min-height: 400px;
  .buttons {
    margin-bottom: 10px;
  }
}

.contactBody {
  padding: 0 15px !important;
  min-height: 200px;
  .buttons {
    margin-bottom: 10px;
  }
}

.detailTabs{
  min-height: 350px !important;
}

.react-tab-panel__tab-title  {
  background: #f05f40;
  color: #fff !important;
}
.react-tab-panel__tab-strip--theme-default .react-tab-panel__tab-title:hover:not(.react-tab-panel__tab-title--active) {
  color: #337ab7 !important;
}
.react-tab-panel__tab-title.react-tab-panel__tab-title--after-active {
  //color: #337ab7 !important;
}

.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--tab-position-top .react-tab-panel__tab-title--active {
    border-top: 3px solid #337ab7 !important;
}


/*@media only screen and (max-width: 768px) {
  .modal-content {
    min-height: 300px;
    min-width: 350px;
    margin: 0 -25px !important;
  }
}

@media only screen and (max-width: 600px) {
  .modal-content {
    min-height: 150px;
    min-width: 180px;
    margin: 0 -15px !important;
  }
}*/
