.grid-section {
  padding:20px;
  border-top: 1px solid #000;
  color: #000 !important;
}
.grid-section .row .grid {
  margin:10px 0;
}
.grid {
  border: 1px solid black;
  background: #fff;
  overflow: visible;
  //box-shadow: 5px 5px 3px gray;
  height: auto;
  min-height: 210px;
}

.destinationDetails{
  min-height: 135px;
}

.destination h3 {
  background: #337ab7;
  color: #fff;
  margin: 0 !important;
  padding: 4px 4px;
}
.destinationImage img {
  height:100px;
  width:200px;
  //padding: 10px;
}

.description {
  background: #FAFAFA;
}

.knowMore {
  width: 120px;
  margin: auto;
}

.close {
  color: #fff !important;
  opacity: 1.0 !important;
}

.modalHeader {
  background: #337ab7;
  color: #fff;
  margin-bottom: 10px;
}

.destinationBody {
  padding: 0 15px !important;
  min-height: 400px;
  .buttons {
    margin-bottom: 10px;
    button{
      margin-left: 5px;
    }
  }
}

.contactBody {
  padding: 0 15px !important;
  min-height: 200px;
  .buttons {
    margin-bottom: 10px;
    button{
      margin-left: 5px;
    }
  }
}

.detailTabs{
  min-height: 350px !important;
}

.react-tab-panel__tab-title  {
  background: #f05f40;
  color: #fff !important;
}
.react-tab-panel__tab-strip--theme-default .react-tab-panel__tab-title:hover:not(.react-tab-panel__tab-title--active) {
  color: #337ab7 !important;
}
.react-tab-panel__tab-title.react-tab-panel__tab-title--after-active {
  //color: #337ab7 !important;
}

.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--tab-position-top .react-tab-panel__tab-title--active {
    border-top: 3px solid #337ab7 !important;
}

.commentsArea {
  overflow: auto;
  resize: none;
}

.contactLegend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
