.footer {
  background:#666;
  color: #fff;
}

.social a.bigLogo {
  font-size:3em !important;
  border-radius:50% !important;
  padding:10px;
  color:#fff;
}
 .social a.bigLogo:hover {
   color:#f05f40;
 }
